@model SignInViewModel

@{
    Layout = "_Layout";
}

<div class="row">
    <div class="col-md-4 offset-md-4">
        <h2>Kullanıcı Giriş Formu</h2>
        <div asp-validation-summary="ModelOnly" class="aler alert-danger" role="alert">
        </div>
        <form asp-action="SignIn" asp-route-returnUrl="@Context.Request.Query["returnUrl"]">
            <div class="row mb-3">
                <label for="Email" asp-for="Email" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="email" asp-for="Email" class="form-control">
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label for="Password" asp-for="Password" class="col-md-4 col-form-label"></label>
                <div class="col-md-8">
                    <input type="password" asp-for="Password" class="form-control">
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="mb-3 offset-md-4 form-check">
                <label class="form-check-label" asp-for="RememberMe" for="RememberMe"></label>
                <input type="checkbox" class="form-check-input" asp-for="RememberMe">
            </div>
            <button type="submit" class="btn btn-primary">Üye Giriş</button>
        </form>
    </div>
</div>